# Ignorar la carpeta de configuración de VS Code
.vscode/

# Ignorar archivos compilados o de dependencias
node_modules/
dist/

# Ignorar archivos específicos
archivo_temporal.txt

#ignorar el .env
.env
